%font_i_400{
    font-family: 'Inter';
    font-weight: 400;
}

%font_i_800{
    font-family: 'Inter';
    font-weight: 800;
}

%font_u_700{
    font-family: 'Ubuntu';
    font-weight: 700;
}

%font_u_500{
    font-family: 'Ubuntu';
    font-weight: 500;
}

%font_u_400{
    font-family: 'Ubuntu';
    font-weight: 400;
}
