<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="/" class="header__logo-link">
                    <picture>
                        <source srcset="images/logo-smal.svg" media="(max-width: 490px)">
                        <img src="../../images/logo.svg" alt="logo">
                    </picture>
                </a>
            </div>
            <div class="header__location">
                <button class="header__location-btn">
                    Змінити локацію
                </button>
            </div>
            <div class="header__search">
                <input class="header__search-input" name="search" type="text" placeholder="Пошук ...">
                <button class="header__search-btn"><img src="../../images/search.svg" alt=""></button>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="tel:380975787801" class="header__menu-link">
                            +38 (097)-578-78-01
                        </a>
                    </li>
                    <li class="header__menu-list-like">
                        <a href="/pages/menu/favorite.html" class="header__menu-like">
                            <img src="../../images/like.svg" alt="header-like">
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/pages/basket.html" class="header__menu-basket">
                            <img src="../../images/basket.svg" alt="header-basket">
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/pages/menu/login.html" class="header__menu-btn">
                            <img src="../../images/menu.svg" alt="header-btn">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Меню топбар кінець -->


<!-- Блок сообщения поверх екрана -->
<div class="modal-location">
    <div class="modal-location__container">
        <div class="modal-location__header">
            <div class="modal-location__title">Оберіть локацію</div>
            <button class="modal-location__close">
                <img src="../../images/card-detale/madal-close.svg" alt="close" class="madal__img">
            </button>
        </div>
        <div class="modal-location__body">
            <select class="modal-location__city">
                <option value="Kr">Кривий Ріг</option>
                <option value="Kv">Київ</option>
                <option value="Xr">Харьків</option>
                <option value="Lv">Львів</option>
                <option value="Ods">Одесса</option>
            </select>
            <div class="modal-location__box">
                <img src="../../images/modal-logo.svg" alt="" class="modal-location__img">
                <div class="modal-location__info">
                    <div class="modal-location__info-content">
                        <div class="modal-location__info-box">
                            <img src="../../images/map-modal.svg" alt="">
                            <div class="box">
                                <p class="modal-location__info-text">
                                    вул. Комерційна, Кривий Ріг,
                                </p>
                                <p class="modal-location__info-text">
                                    вул. Комерційна, Кривий Ріг,
                                </p>
                            </div>
                        </div>
                        <div class="modal-location__info-box">
                            <img src="../../images/clock-modal.svg" alt="">
                            <p class="modal-location__info-time">Пн-Вс: 08:00-19:00</p>
                        </div>
                        <div class="modal-location__info-box">
                            <img src="../../images/clock-modal.svg" alt="">
                            <p class="modal-location__info-time">Пн-Вс: 08:00-19:00</p>
                        </div>
                    </div>
                    <a href="tel:380977252525" class="modal-location__num">+380977252525</a>
                </div>

            </div>
            <div class="modal-location__box">
                <img src="../../images/modal-logo.svg" alt="" class="modal-location__img">
                <div class="modal-location__info">
                    <div class="modal-location__info-content">
                        <div class="modal-location__info-box">
                            <img src="../../images/map-modal.svg" alt="">
                            <div class="box">
                                <p class="modal-location__info-text">
                                    вул. Комерційна, Кривий Ріг,
                                </p>
                                <p class="modal-location__info-text">
                                    вул. Комерційна, Кривий Ріг,
                                </p>
                            </div>
                        </div>
                        <div class="modal-location__info-box">
                            <img src="../../images/clock-modal.svg" alt="">
                            <p class="modal-location__info-time">Пн-Вс: 08:00-19:00</p>
                        </div>
                        <div class="modal-location__info-box">
                            <img src="../../images/clock-modal.svg" alt="">
                            <p class="modal-location__info-time">Пн-Вс: 08:00-19:00</p>
                        </div>
                    </div>
                    <a href="tel:380977252525" class="modal-location__num">+380977252525</a>
                </div>

            </div>
        </div>
    </div>
</div>