<div class="login-page">
    <div class="wrapper-branch">
        <div class="container">
            <div class="login-page__inner">

                <!-- side bar  -->
                <div class="sidebar not-visible">
                    <div class="sidebar__login no">
                        <div class="sidebar__login-img">
                            <img class="sidebar__login-svg" src="../../images/user.svg" alt="">
                        </div>
                        <p class="sidebar__login-text">Авторизуйтесь для перегляду профілю</p>
                        <a href="/pages/menu/login.html" class="sidebar__login-btn">Увійти</a>
                    </div>

                    <!-- <div class="login-page__login-true">
        <div class="login-page__login-img on">
            <img class="login-page__login-svg" src="../../images/user.svg" alt="">
          </div>
          <div class="login-page__on">
            <h5 class="login-page__title">
                Юрій Поваров
            </h5>
            <p class="login-page__num">
                +380979999999
            </p>
            <p class="login-page__date">
                27.03.1984
            </p>
            <p class="login-page__gifts">
                Бонуси: 350
            </p>
          </div>
          <div class="login-page-edit">
            <button class="edit__info"><img src="../../images/pencil.svg" alt="edit"></button>
          </div>
      </div> -->

                    <ul class="sidebar__menu">
                        <li class="sidebar__item-li">
                            <a href="/pages/menu/orders.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/clipboard-list.svg" alt="svg">
                                <p class="sidebar__text">Мої замовлення</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="/pages/menu/favorite.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/heart.svg" alt="svg">
                                <p class="sidebar__text">Обране</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="/pages/menu/my-adres.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/map-pin.svg" alt="svg">
                                <p class="sidebar__text">Мої адреси</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li profile">
                            <a href="/pages/menu/notification.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/bell-ringing.svg" alt="svg">
                                <p class="sidebar__text">Повідомлення</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li notification">
                            <a href="https://qrboss.com.ua/R0vZ" class="sidebar__item notification">
                                <img class="sidebar__img" src="../../images/sidebar/message-dots.svg" alt="svg">
                                <p class="sidebar__text notification">Залишити відгук</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="#" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/car.svg" alt="svg">
                                <p class="sidebar__text">Доставка і вартість</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="#" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/map-pin.svg" alt="svg">
                                <p class="sidebar__text">Адреса</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li delivery">
                            <a href="/pages/menu/time-work.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/clock.svg" alt="svg">
                                <p class="sidebar__text">Час роботи</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="/pages/menu/loyalty.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/gift.svg" alt="svg">
                                <p class="sidebar__text">Програма лояльності</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="/pages/menu/language.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/language.svg" alt="svg">
                                <p class="sidebar__text">Мова</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="/pages/menu/about-qr.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/book-2.svg" alt="svg">
                                <p class="sidebar__text">Про розробника</p>
                            </a>
                        </li>
                        <li class="sidebar__item-li">
                            <a href="/pages/menu/login.html" class="sidebar__item">
                                <img class="sidebar__img " src="../../images/sidebar/logout.svg" alt="svg">
                                <p class="sidebar__text">Вихід</p>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- side bar  -->

                <!-- THIS PLASE FOR CTRL V -->

                <!-- THIS PLASE FOR CTRL V -->

            </div>
        </div>
    </div>
</div>