.shop,
.favorite{
    &__card-ref{
        margin-bottom: 50px;
        max-width: 216px;
        margin-right: 30px;
    }
    
    &__card-ref-img {
        position: relative;
        max-width: 216px;
        min-height: 216px;
    }
    &__card-ref__product {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &__card-ref-discount {
        margin-top: 13px;
        margin-left: 10px ;
        position: absolute;
        left: 0;
        top: 0;
    }
    &__card-ref-percent {
        @extend %font_u_500; 
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        background-color: #EB3A65;
        border-radius: 4px;
        padding: 3px 5px;
    }
    &__card-ref-like {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        margin: 7px 4px;
        padding: 5px 3px 3px 3px;
        cursor: pointer;
        &:hover{
            .shop__card-ref-svg path{
                fill: #EB3A65;
            }
        }
    }
    
    &__card-ref-weight {
        position: absolute;
        bottom: 13px;
        left: 10px;
        right: 0;
      }
    &__weight {
        padding: 3px 5px;
        background-color: rgba(#fff, .74);
        border-radius: 4px;
    }


    &__card-ref-title{
        max-width: 200px;
        @extend %font_u_400; // Смотреть файл _vars.scss
        font-size: 16px;
        line-height: 21px;
        color: #3D405B;
        margin-top: 8px;
        margin-bottom: 7px;
        min-height: 42px; 
        max-height: 42px;
        overflow: hidden;
        word-wrap: anywhere;
    }
    &__card-ref-buy{
        @extend %d-f-sb; // Смотреть файл _vars.scss
        align-items: center;
        max-width: 216px;
    }
    &__card-ref-real-price{
        @extend %font_u_400; // Смотреть файл _vars.scss
        font-size: 10px;
        line-height: 14px;
        text-decoration-line: line-through;
        color: #696C87;
        display: block;
        max-width: 50px;
    }
    &__card-ref-price{
        @extend %font_u_700; // Смотреть файл _vars.scss
        font-size: 16px;
        line-height: 14px;
        color: #3D405B;
        max-width: 90px;
    }
    &__card-ref-btn{
        @extend %font_u_500; // Смотреть файл _vars.scss
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent; // Смотреть файл _vars.scss
        background-color: #494C69;
        border-radius: 4px;
        font-size: 16px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        padding: 8px 22px 10px 22px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background: #6B6F8E;
        }
    }
    
    &__card-ref-img {
        position: relative;
        max-width: 216px;
        min-height: 216px;
        max-height: 216px;
        width: 100%;
        & img {
            max-width: 216px;
            min-height: 216px;
            max-height: 216px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__card-ref,
    .favorite__card-ref{
        margin-bottom: 50px;
        margin-right: 30px;
        max-width: 200px;
        width: 100%;
    }
}

.shop__card-ref{
    margin-right: 30px;
    max-width: 216px;
    width: 100%;
    &:nth-child(5n){
        margin-right: 0;
    }
}

.shop__card-ref__img img{
    max-width: 216px;
    max-height: 216px;
}

.catalog-shop{
    width: 100%;
}

  .shop__card-ref,
  .favorite__card-ref {
    margin-right: 30px;
    max-height: 284px;
    height: 284px;
    height: 100%;
    &:last-child{
        margin-right: 0;
    }
  }

.shop__cards-ref,
.favorite__cards-ref{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
 

@media (max-width: 871px){
    .shop__cards-ref,
    .favorite__cards-ref{
        padding: 0 10px;
        justify-content: space-between;
        width: 100%;
    }
}
@media (max-width: 700px){
    .shop__card-ref,
    .favorite__card-ref{
        margin-right: 0;
    }
}
@media (max-width: 600px){
    .shop__card-ref,
    .favorite__card-ref
    {
        & + &{
            margin-left: 0;
        }
    }
}

@media (max-width: 418px){
    .shop__cards-ref,
    .favorite__cards-ref{
        padding: 0 15px;
    }
}


@media (max-width: 470px){ 
    .shop__card-ref,
    .favorite__card-ref{
        max-width: 170px;
        width: 100%;
    }
    
    .shop__card-ref-img,
    .favorite__card-ref-img{
        & img {
            max-width: 170px;
            min-height: 170px;
            object-fit: cover;
        }
    }
    .shop,
    .favorite{
        &__card-ref-title{
            max-width: 165px;
            font-size: 14px;
            line-height: 14px;
        }
        &__card-ref-real-price{
            font-size: 10px;
            line-height: 14px;
            max-width: 50px;
        }
        &__card-ref-price{
            font-size: 14px;
            line-height: 14px;
            max-width: 90px;
        }
        &__card-ref-btn{
            margin: 0;
            padding: 0;
            border: none;
            font-size: 14px;
            line-height: 14px;
            width: 86px;
            height: 28px;
        }
    }
    
    .shop__card-ref-img,
    .favorite__card-ref-img{
        max-width: 170px;
        min-height: 170px;
    }
}

@media (max-width: 390px){
    .shop__card-ref,
    .favorite__card-ref{
        max-width: 150px;
        width: 100%;
    }
    .shop,
    .favorite{
        &__card-ref-title{
            max-width: 145px;
            font-size: 13px;
            line-height: 13px;
        }
        &__card-ref-real-price{
            font-size: 10px;
            line-height: 14px;
            max-width: 50px;
        }
        &__card-ref-price{
            font-size: 13px;
            line-height: 13px;
            max-width: 90px;
        }
        &__card-ref-btn{
            margin: 0;
            padding: 0;
            border: none;
            font-size: 13px;
            line-height: 13px;
            width: 76px;
            height: 23px;
        }
    }
    
    .shop__card-ref-img,
    .favorite__card-ref-img{
        max-width: 150px;
        min-height: 150px;
        & img {
            max-width: 150px;
            min-height: 150px;
            object-fit: cover;
        }
    }
}







//media for favorite 

.sidebar__arrow {
    display: none;  
}
