<header class="header">
    
    <div class="location">
        <button class="info"><img id="info-img" class="info-img" src="images/info-img.svg"
                alt="info"></button>

        <div class="location__info">
            <div class="location__info-inner">
                <div class="location__info-box">
                    <img src="images/info/map-pin.svg" alt="map">
                    <div class="location__box-content">
                        <p class="location__addres-title">Адреса</p>
                        <p class="location__addres">вул. Комерційна, 1</p>
                    </div>
                </div>
                <div class="location__info-box">
                    <img src="images/info/clock.svg" alt="clock">
                    <div class="location__box-content">
                        <p class="location__day">
                            Пн-Чт, Нд:
                            <span class="location__time">12:00-20:00</span>
                        </p>
                        <p class="location__day">
                            Пн-Чт, Нд:
                            <span class="location__time">12:00-20:00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="/" class="header__logo-link">
                    <img src="images/logo.svg" alt="logo">
                </a>
            </div>
            <div class="header__box">
                <div class="header__location">
                    <button class="header__location-btn">
                        <img src="images/location.svg" alt="">
                        Змінити локацію
                    </button>
                </div>
                <div class="header__search">
                    <input class="header__search-input" name="search" type="text" placeholder="Пошук ...">
                    <button class="header__search-btn"><img src="images/search.svg" alt=""></button>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="tel:380975787801" class="header__menu-link">
                            <img src="images/phone.svg" alt="">
                            +38 (097)-578-78-01
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/pages/menu/favorite.html" class="header__menu-like">
                            <img src="images/images/like.png" alt="header-like">
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/pages/basket.html" class="header__menu-basket">
                            <img src="images/images/basket.png" alt="header-basket">
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/pages/menu/login.html" class="header__menu-btn">
                            <img src="images/images/menu.png" alt="header-btn">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>