<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <div class="footer__content-box">
                    <div class="footer__links">
                        <a href="#" class="footer__logo">
                            <img src="images/footer/logo.svg" alt="logo">
                        </a>
                        <div class="footer__social">
                            <a href="#" class="footer__social-link">
                                <img class="footer__social-img footer__social-img-1" src="images/footer/facebook.svg"
                                    alt="social">
                            </a>
                            <a href="#" class="footer__social-link">
                                <img class="footer__social-img footer__social-img-2" src="images/footer/instagram.svg"
                                    alt="social">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__content-box">
                    <div class="footer__payments">
                        <a href="#" class="footer__payments-link">
                            <img src="images/footer/mono.svg" alt="payments">
                        </a>
                        <a href="#" class="footer__payments-link">
                            <img src="images/footer/way.svg" alt="payments">
                        </a>
                        <a href="#" class="footer__payments-link">
                            <img src="images/footer/visa.svg" alt="payments">
                        </a>
                        <a href="#" class="footer__payments-link">
                            <img src="images/footer/mastercard.svg" alt="payments">
                        </a>
                    </div>
                    <div class="footer__help">
                        <a class="footer__help-link" href="#">
                            Політика конфіденційності
                        </a>
                        <span class="footer__branch">|</span>
                        <a class="footer__help-link" href="#">
                            Умови користування
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__content">
        <a href="#" class="footer__content-wrapper">
            <img src="images/footer/qb.svg" alt="qb-tools">
            <div class="footer__text">Powered by QB tools</div>
        </a>
    </div>
</footer>