<!-- Блок сообщения поверх екрана -->
<div class="modal-location">
    <div class="modal-location__container">
        <div class="modal-location__header">
            <div class="modal-location__title">Оберіть локацію</div>
            <button class="modal-location__close">
                <img src="../images/close-modal.svg" alt="">
            </button>
        </div>
        <div class="modal-location__body">
            <select class="modal-location__city">
                <option value="Kr">Кривий Ріг</option>
                <option value="Kv">Київ</option>
                <option value="Xr">Харьків</option>
                <option value="Lv">Львів</option>
                <option value="Ods">Одесса</option>
            </select>

            <div class="modal-location__box">
                <h4 class="modal-location__box-title">Willow Tree</h4>
                <p class="modal-location__box-adress">вул. Комерційна, Кривий Ріг,</p>
                <a href="tel:380977252525" class="modal-location__box-number">+380977252525</a>
                <div class="modal-location__box-descr">
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                </div>
                <div class="modal-location__box__arow">
                    <img src="../images/arrow-modal-location.svg" alt="">
                </div>
            </div>

            <div class="modal-location__box">
                <h4 class="modal-location__box-title">Willow Tree</h4>
                <p class="modal-location__box-adress">вул. Комерційна, Кривий Ріг,</p>
                <a href="tel:380977252525" class="modal-location__box-number">+380977252525</a>
                <div class="modal-location__box-descr">
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                </div>
                <div class="modal-location__box__arow">
                    <img src="../images/arrow-modal-location.svg" alt="">
                </div>
            </div>

            <div class="modal-location__box">
                <h4 class="modal-location__box-title">Willow Tree</h4>
                <p class="modal-location__box-adress">вул. Комерційна, Кривий Ріг,</p>
                <a href="tel:380977252525" class="modal-location__box-number">+380977252525</a>
                <div class="modal-location__box-descr">
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                </div>
                <div class="modal-location__box__arow">
                    <img src="../images/arrow-modal-location.svg" alt="">
                </div>
            </div>

            <div class="modal-location__box">
                <h4 class="modal-location__box-title">Willow Tree</h4>
                <p class="modal-location__box-adress">вул. Комерційна, Кривий Ріг,</p>
                <a href="tel:380977252525" class="modal-location__box-number">+380977252525</a>
                <div class="modal-location__box-descr">
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                    <p class="modal-location__box-descr-text">Пн-Вс: 08:00-19:00</p>
                </div>
                <div class="modal-location__box__arow">
                    <img src="../images/arrow-modal-location.svg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Блок сообщения поверх екрана -->